Repository identmous/attractions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

chore: fix paths
  attractions/_appearances.scss
  attractions/_mixins.scss
  attractions/_variables.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

chore: set up prettier
  .prettierrc
Due: prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

colors
  README.md
  attractions/_variables.scss
  docs/static/css/attractions-theme.scss
  docs/static/css/containers/docs/desktop-navigation.scss
  docs/static/css/containers/docs/header.scss
  docs/static/css/containers/docs/showcase.scss
  docs/static/css/global.scss
  docs/static/css/routes/docs/_layout.scss
  docs/static/css/routes/docs/components/text-field.scss
  docs/static/css/routes/docs/installation.scss
  docs/static/css/routes/index.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

darknize colors
  attractions/_variables.scss
  attractions/text-field/text-field.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

chore: fix styles
  attractions/_variables.scss
  attractions/dialog/dialog.scss
  attractions/text-field/text-field.scss
  attractions/text-field/text-field.svelte
  docs/static/css/containers/docs/desktop-navigation.scss
Due: eslint --ext ".svelte,.js" --cache --fix --max-warnings 0, stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

fix colors
  attractions/_variables.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

fixed styling
  docs/static/css/containers/docs/desktop-navigation.scss
Due: stylelint . --cache --fix --max-warnings 0, prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown

Path conditions:
  eslint --ext ".svelte,.js" --cache --fix --max-warnings 0: any of: **/*.{js,svelte}
  stylelint . --cache --fix --max-warnings 0: any of: **/*.{css,scss}
  prettier --plugin-search-dir=. --write --loglevel warn --ignore-unknown: any of: **/*
